body {
  font-family: 'Quicksand', sans-serif;
}

img {
  width: 150px;
  height: 150px;
}

#recipeIngredients {
  height: auto;
}

#recipes {
  display: flex;
}

.container {
  display: flex;
}

hr {
  margin-top: 18px;
}
